.carousel_container {
    overflow-x: hidden;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
}

.carousel_container_inner {
    white-space: nowrap;
    width: 100%;
    min-width: unset;
    max-width: unset;
    overflow: visible;
}

.carousel_row {
    display: flex;
    max-width: unset;
    min-width: unset;
    width: auto;
    white-space: nowrap;
    overflow: visible;
    position: relative;
}

.carousel_row:not(.inverted) .carousel_row_inner {
    position: relative;
    left: -100%;
}

.carousel_row span {
    -webkit-filter: blur(.035rem) drop-shadow(-1px 1px 1px #2b0bba88);
    -moz-filter: blur(.035rem) drop-shadow(-1px 1px 1px #2b0bba88);
    -o-filter: blur(.035rem) drop-shadow(-1px 1px 1px #2b0bba88);
    filter: blur(.035rem) drop-shadow(-1px 1px 1px #2b0bba88)
}

/* Firefox: disable drop-shadow */
@-moz-document url-prefix() {
    .carousel_row span {
        filter: blur(.035rem);
    }
}