#about {
    padding: 8rem 0 4rem;
}

.about-text-content {
    position: relative;
    max-width: 58rem;
}

.about-text-content p {
    max-width: 48rem;
}

.about-card-container {
    position: absolute;
    bottom: 0;
    right: var(--padding-lg);
}

#about .carousel_container {
    padding-top: 4.5rem;
    max-width: 48rem;
}

#about .carousel_row_inner {
    font-size: 1.25rem;
}

#about .carousel_row_inner span {
    padding: 0 1.8rem;
}