.canvas-container {
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas-container-inner {
    width: 600px;
    aspect-ratio: 4 / 3;
    overflow: visible;
    border-radius: var(--radius);
}

canvas {
    width: 100% !important;
    height: 100% !important;
    /* position: fixed;
    inset: 0; */
}

.hero-section {
    min-height: 100svh;
    position: relative;
    mix-blend-mode: difference;
}

.hero-content {
    display: flex;
    flex-flow: column;
}

.hero-section h1,
.hero-subtitle {
    position: absolute;
    color: var(--hero-text-color);
    filter: blur(.05rem);
}

.hero-section h1 {
    bottom: var(--padding);
    left: 0;
    white-space: nowrap;
    line-height: 100%;
    font-size: clamp(3.5rem, 18vw, 18rem);
}

@media screen and (min-width: 992px) {
    .hero-section h1 {
        line-height: 78%;
    }
}

.hero-subtitle {
    top: -0.5rem;
    right: -40%;
    transform-origin: 0%;
    transform: rotate(90deg);
    mix-blend-mode: difference;
    color: #429ff6;
}

.hero-subtitle p {
    font-size: 2rem;
}

/*
*   MOBILE
*/

@media screen and (max-width: 991px) {
    .canvas-container-inner {
        width: auto;
        height: 75%;
        aspect-ratio: unset;
    }
}