.canvas-container {
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas-container-inner {
    width: 800px;
    aspect-ratio: 4 / 3;
    overflow: hidden;
}

canvas {
    width: 100% !important;
    height: 100% !important;
    /* position: fixed;
    inset: 0; */
}

.hero-section {
    min-height: 100svh;
    position: relative;
}

.hero-content {
    display: flex;
    flex-flow: column;
}

.hero-section h1,
.hero-subtitle {
    position: absolute;
}

.hero-section h1 {
    bottom: var(--padding);
    left: 0;
    white-space: nowrap;
    line-height: 120%;
    font-size: clamp(3.5rem, 18vw, 18rem);
}

.hero-subtitle {
    top: var(--padding);
    right: 0;
}

/*
*   MOBILE
*/

@media screen and (max-width: 991px) {
    .canvas-container-inner {
        width: auto;
        height: 75%;
        aspect-ratio: unset;
    }
}