.nav-container {
    position: fixed;
    width: 100%;
    z-index: 999;
    pointer-events: none;
    /* mix-blend-mode: soft-light; */
}

nav {
    display: flex;
    justify-content: center;
}

.nav-menu-dropdown-container {
    position: absolute;
    inset: 0;
    width: calc(100vw - 1px);
    height: 100svh;
    pointer-events: none;
    display: flex;
    flex-flow: row;
    /* transition: all .5s ease; */
}

nav.open .nav-menu-dropdown-container {
    /* opacity: 0; */
    backdrop-filter: blur(8px);
    pointer-events: all;
}

.nav-menu-toggle {
    display: flex;
    align-items: center;
    padding: var(--padding);
    background-color: white;
    color: black;
    pointer-events: none;
    cursor: pointer;
    position: relative;
    opacity: 0;
    transition: opacity .25s ease;
    z-index: 99;
}

nav.open .nav-menu-toggle {
    background-color: red;
}

nav.ready .nav-menu-toggle {
    opacity: 1;
    pointer-events: all;
}

.nav-menu-dropdown-col {
    padding: var(--padding);
    flex: 1;
    width: 100%;
    max-width: 33.33%;
    background-color: rgba(47, 0, 255, 0.798);
    border: 4px solid rgba(255, 0, 98, 0.798);
    transition: background-color .25s ease;
    pointer-events: none;
    z-index: 95;
}

nav.open .nav-menu-dropdown-col {
    pointer-events: all;
}

nav.ready .nav-menu-dropdown-col {
    cursor: pointer;
    background-color: rgb(0, 0, 0);
}


/*
*   MOBILE
*/
@media screen and (max-width: 991px) {
    .nav-menu-dropdown-container {
        flex-flow: column;
    }

    .nav-menu-dropdown-col {
        max-width: 100%;
        max-height: 33.33%;
    }
}