.nav-container {
    position: fixed;
    width: 100%;
    z-index: 999;
    pointer-events: none;
    /* mix-blend-mode: soft-light; */
}

nav {
    display: flex;
    justify-content: center;
    position: absolute;
    inset: 0;
    width: calc(100vw - 1px);
    height: 100svh;
    overflow: hidden;
}

.nav-menu-dropdown-container {
    position: relative;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    flex-flow: row;
    /* transition: all .5s ease; */
}

nav.open .nav-menu-dropdown-container {
    /* opacity: 0; */
    pointer-events: all;
}

.nav-menu-toggle-wrapper {
    display: flex;
    flex-flow: row;
    align-items: center;
    /* gap: 1.5rem; */
    position: absolute;
    left: calc(var(--padding) * .5);
    bottom: var(--padding);
    overflow: visible;
    pointer-events: all;
    z-index: 99;

    /* width: 6.5rem; */
    cursor: pointer;
    overflow: hidden;
    background-color: rgba(242, 242, 242, 0.05);
    border-radius: 5rem;
    padding-bottom: .25rem;
    border: 2.5px var(--border-color-alt) solid;
    transition: all 1s ease;
    -webkit-backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    -o-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

nav.ready .nav-menu-toggle-wrapper:hover {
    background-color: #f2f2f22a;
}

.nav-menu-toggle {
    height: auto;
    pointer-events: none;
    /* transition: background-color .25s ease; */
    
    /* overflow: hidden; */
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 100%;
    /* background-color: #f2f2f215;
    border: 2.5px var(--border-color-alt) solid; */
}

.nav-msg-container {
    overflow: clip;
    width: 0;
    max-width: 0;
    opacity: 0;
    padding: 0rem;
    /* background-color: green; */
    white-space: nowrap;
    transition: width 1s ease, padding .5s ease, max-width .25s ease;
}

.menu-clicked .nav-msg-container {
    width: auto;
    max-width: max-content;
    opacity: 1;
    display: flex;
    flex-flow: column;
    padding: .8rem .5rem;
    padding-left: 1.5rem;
    padding-right: 2rem;
    gap: .8rem;
}

.nav-menu-msg {
    font-size: 2.5rem;
    line-height: 1;
    /* padding: .5rem 1.25rem; */
    white-space: nowrap;
    font-size: 3rem;

    font-weight: 600;
    color: var(--white);
    filter: blur(.035rem);
}

.sub-jp {
    align-self: flex-end;
    white-space: nowrap;
    font-size: 1.25rem;
    text-align: right;
    color: var(--white);
    filter: blur(.035rem);
    opacity: .9;
}

/* nav.open .nav-menu-toggle-wrapper {
    background-color: red;
} */

nav.ready .nav-menu-toggle {
    opacity: 1;
    pointer-events: all;
}

.nav-menu-dropdown-col {
    flex: 1;
    width: 100%;
    max-width: 33.33%;
    background-color: rgba(144, 199, 255, 0.199);
    border: 1px solid var(--white-alpha);
    border-radius: var(--radius);
    -webkit-backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    -o-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    transition-delay: 0s, 1s;
    transition: background-color .25s ease, backdrop-filter .25s ease;
    pointer-events: none;
    z-index: 95;
}

.nav-menu-content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    padding: var(--padding);
    pointer-events: all;
}

.nav-menu-content h2 {
    color: var(--white);
    -webkit-filter: blur(.05rem);
    -moz-filter: blur(.05rem);
    -o-filter: blur(.05rem);
    filter: blur(.05rem);
    opacity: .9;
}

.nav-menu-option-desc {
    max-width: 16rem;
}

nav.open .nav-menu-dropdown-col {
    pointer-events: all;
}

nav.ready .nav-menu-dropdown-col {
    cursor: pointer;
}

nav.ready .nav-menu-dropdown-col:hover {
    background-color: rgba(157, 206, 255, 0.349);
}

.nav-menu-dropdown-col .carousel_container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: clip;
    opacity: 0;
    transition: opacity .4s ease;
    pointer-events: none;
}

nav.ready .nav-menu-dropdown-col:hover .carousel_container {
    opacity: 1;
}

.nav-menu-dropdown-col .carousel_container_inner {
    width: 100svh;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    position: absolute;
    left: calc(100% - 6.25vw);
    top: 100%;
    font-size: 8rem;
    color: var(--white);
    opacity: .85;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    filter: blur(1px);
}

.nav-menu-dropdown-col .carousel_container_inner span {
    padding: 0 2rem;
}

/*
*   MOBILE
*/
@media screen and (max-width: 991px) {
    .nav-menu-dropdown-container {
        flex-flow: column;
    }

    .nav-menu-dropdown-col {
        max-width: 100%;
        max-height: 33.33%;
    }
}

.nav-menu-dropdown-container.hide * {
    pointer-events: none;
    cursor: unset;
}