@import url('nav.css');
@import url('hero-canvas.css');
@import url('swiper.css');
@import url('about-section.css');
@import url('carousel-row.css');
@import url('card-el.css');
@import url('works.css');
@import url('contact.css');


/*
*   DEV TEMPORARY
*/
nav {
    display: none;
}




:root {
    --padding: 2rem;
    --padding-y: 1.2rem;
    --padding-x: 2rem;
    --padding-m: 2rem;

    --padding-sm: 1rem;
    --padding-md: 3.5rem;
    --padding-lg: 4.5rem;

    --container-max-w: 1512px;

    --nav-text-size: 2rem;
    --nav-text-size-m: 1.25rem;

    --text-size: 1.25rem;
    --text-size-m: .825rem;

    --white: #FFF;
    --black: #171717;
    --gray-dark: #2E2E2E;
    --blue: #0088ff;
    --red: #FF5733;
    --yellow: #FFCC00;

    --bg-color: var(--black);
    --text-color: var(--blue);
    --highlight-color: #0088ff;

    /* --bg-color: #1A1A1A;
    --text-color: #00BFFF;
    --highlight-color: #FF4500; */

    /* --bg-color: #2C3E50;
    --text-color: #E74C3C;
    --highlight-color: #F1C40F; */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--text-color);
}

body {
    background: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: clamp(3.2rem, 12vw, 8rem);
}

h2 {
    font-size: clamp(2.5rem, 8vw, 6rem);
}

h3 {
    font-size: clamp(1.8rem, 5vw, 6.5rem);
}

a {
    text-decoration: none;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

p,
ul,
ul li {
    font-size: var(--text-size);
    line-height: 1.5rem;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style: none;
}

@media screen and (max-width: 991px) {
    p {
        font-size: var(--text-size-m);
    }
}

/* DEFAULTS */
.sub {
    font-family: "Source Code Pro", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.col-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row;   
}

.col-container .col {
    width: 50%;
    display: flex;
    flex-flow: column;
}

.col-container .col:nth-child(2) {
    padding-top: 20rem;
}

.flex-col {
    display: flex;
    flex-flow: column;
}

.flex-row {
    display: flex;
    flex-flow: row;
}

section {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100svh;
    width: 100%;
    max-width: calc(100vw - 1px);

    overflow-x: hidden;
    border: 1px solid red;
}

.padding-global {
    padding: var(--padding);
}

.container {
    margin: auto;
    display: flex;
    flex-flow: row;
    gap: 2rem;
    width: 100%;
    max-width: var(--container-max-w);
}

.padding-global,
.container {
    width: 100%;
    height: 100%;
}

.full-h {
    min-height: 100lvh;
}

.relative {
    position: relative;
}

/* LAYOUT DECOR */
/* Time */
.time-text-container {
    position: fixed;
    bottom: var(--padding-y);
    left: var(--padding);
    right: var(--padding);
    display: flex;
    justify-content: end;
    z-index: 999;
    pointer-events: none;
}

.time-text {
    pointer-events: initial;
    font-size: var(--text-size);
}

/* GRID */
.grid {
    pointer-events: none;
}

.gline-outer {
    position: fixed;
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border: 1px solid #979797;
    opacity: .3;
    z-index: 2;
}

.gline {
    position: fixed;
    background-color: rgb(102, 102, 102);
    opacity: .2;
    z-index: 0;
}

.gline.gline-vertical {
    width: 1px;
    height: 100%;
}

.gv-wrap .gline:nth-child(1) {
    position: fixed;
    left: calc(25% + var(--padding));
}

.gv-wrap .gline:nth-child(2) {
    position: fixed;
    right: calc(50% + var(--padding));
}

.gv-wrap .gline:nth-child(3) {
    position: fixed;
    right: calc(25% + var(--padding));
}

.gline.gline-horizontal {
    width: 100%;
    height: 1px;
}

.gh-wrap .gline:nth-child(1) {
    position: fixed;
    top: calc(25% + var(--padding));
}

.gh-wrap .gline:nth-child(2) {
    position: fixed;
    bottom: calc(30% + var(--padding));
}


/* Contact */
.socials-container {
    display: flex;
    gap: 5.25rem;
}

.container.col {
    flex-flow: column;
    align-items: center;
}

/* Split Text Lines */
.line {
    position: relative;
    overflow-y: clip;
}

/* Works Window */
.works-window-inner {
    overflow: clip;
}